<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.milone.aceydeucey" android:versionName="1.51" android:versionCode="4">

<application android:label="@string/app_name" android:icon="@drawable/icon_sl">

		<activity android:name=".AceyDeucey" android:label="@string/app_name"
			android:screenOrientation="portrait"
			android:configChanges="keyboard|keyboardHidden|orientation">

			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>





		<activity android:name=".Msg2" android:label="@string/about_title"
			android:theme="@android:style/Theme.Dialog"
			android:screenOrientation="portrait" />

		<activity android:name=".Msg3" android:label="@string/about_title"
			android:theme="@android:style/Theme.Dialog"
			android:screenOrientation="portrait" />

		<activity android:name=".Prefs" android:label="@string/settings_title"
			android:screenOrientation="portrait" />









		<activity android:name=".Gameplay" android:screenOrientation="portrait"
		android:configChanges="keyboard|keyboardHidden|orientation"
		 />

		<!-- The application's publisher ID assigned by AdMob -->
		<meta-data android:value="a14cc217e60bf6c" android:name="ADMOB_PUBLISHER_ID" />

		<!-- AdMobActivity definition -->
		<activity android:name="com.admob.android.ads.AdMobActivity"
			android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
			android:configChanges="orientation|keyboard|keyboardHidden" />

		<!-- Track Market installs -->
		<receiver android:name="com.admob.android.ads.analytics.InstallReceiver"
			android:exported="true">
			<intent-filter>
				<action android:name="com.android.vending.INSTALL_REFERRER" />
			</intent-filter>
		</receiver>

	</application>




</manifest> 